body {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



#div{
    margin-top: 100px;
    display: grid;
    place-items: center;
}
input {
    border-radius: 4px;
    display: flex;
    border-color: rgb(251, 0, 0);
    background-color: rgb(244, 244, 244);
    color: rgb(0, 0, 0);
    text-align: center;
    /*margin-left: 30px;*/
}

#calcular {
    /*margin-left: 60px;*/
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

#apagarcampos {
    /*margin-left: 25px;*/
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    background-color: red;
}

#options {
    border-radius: 500px;
    display: flex;
    border-color: rgb(251, 0, 0);
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 10px 10px 10px 10px;
    /*margin-left: 45px;*/
    text-align: center;
    font-size: 13px;
    flex-direction: row;
    border: 1px solid #b11313;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
#resultado {
    color: #ff0707;
}